<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zsc.ordermealsys.dao.ShoppingCartMapper" >
  <resultMap id="BaseResultMap" type="zsc.ordermealsys.pojo.ShoppingCart" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="buyer_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="seller_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="product_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="product_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="product_num" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, buyer_name, seller_name, product_id, product_price, product_num, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shopping_cart
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shopping_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zsc.ordermealsys.pojo.ShoppingCart" useGeneratedKeys="true" keyProperty="id" >
    insert into shopping_cart (user_id, buyer_name, seller_name, product_id, 
      product_price, product_num, create_time, 
      update_time)
    values (#{userId,jdbcType=INTEGER},#{buyerName,jdbcType=VARCHAR}, #{sellerName,jdbcType=VARCHAR}, #{productId,jdbcType=INTEGER}, 
      #{productPrice,jdbcType=DECIMAL}, #{productNum,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="zsc.ordermealsys.pojo.ShoppingCart" useGeneratedKeys="true" keyProperty="id" >
    insert into shopping_cart
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="productId != null" >
        product_id,
      </if>
      <if test="productPrice != null" >
        product_price,
      </if>
      <if test="productNum != null" >
        product_num,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null" >
        #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productNum != null" >
        #{productNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zsc.ordermealsys.pojo.ShoppingCart" >
    update shopping_cart
    <set >
      <if test="buyerName != null" >
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="productId != null" >
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null" >
        product_price = #{productPrice,jdbcType=DECIMAL},
      </if>
      <if test="productNum != null" >
        product_num = #{productNum,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zsc.ordermealsys.pojo.ShoppingCart" >
    update shopping_cart
    set buyer_name = #{buyerName,jdbcType=VARCHAR},
      seller_name = #{sellerName,jdbcType=VARCHAR},
      product_id = #{productId,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_num = #{productNum,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <select id="selectCartByUserIdProductId" resultMap="BaseResultMap" parameterType="map">
  	select
  	<include refid="Base_Column_List"/>
  	from shopping_cart where user_id=#{userId}
  	and product_id=#{productId}
  </select>
  
  <select id="selectCartByUserId" resultMap="BaseResultMap" parameterType="int">
  	select
  	<include refid="Base_Column_List"/>
  	from shopping_cart
  	where user_id=#{userId}
  </select>
  
  <select id="selectCartProductCheckedStatusByUserId">
  	select count(1) 
  	from shopping_cart
  	where checked=0 and user_id=#{userId} 
  </select>
</mapper>