<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zsc.ordermealsys.dao.StorePicMapper" >
  <resultMap id="BaseResultMap" type="zsc.ordermealsys.pojo.StorePic" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="seller_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="zsc.ordermealsys.pojo.StorePicWithBLOBs" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="seller_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="environment_pic" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="license_pic" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, seller_name, create_time, update_time
  </sql>
  <sql id="Blob_Column_List" >
    environment_pic, license_pic
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from store_pic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store_pic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zsc.ordermealsys.pojo.StorePicWithBLOBs" useGeneratedKeys="true" keyProperty="id" >
    insert into store_pic (seller_name, create_time, update_time, 
      environment_pic, license_pic)
    values (#{sellerName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{environmentPic,jdbcType=LONGVARCHAR}, #{licensePic,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="zsc.ordermealsys.pojo.StorePicWithBLOBs" useGeneratedKeys="true" keyProperty="id" >
    insert into store_pic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="environmentPic != null" >
        environment_pic,
      </if>
      <if test="licensePic != null" >
        license_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="environmentPic != null" >
        #{environmentPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="licensePic != null" >
        #{licensePic,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zsc.ordermealsys.pojo.StorePicWithBLOBs" >
    update store_pic
    <set >
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="environmentPic != null" >
        environment_pic = #{environmentPic,jdbcType=LONGVARCHAR},
      </if>
      <if test="licensePic != null" >
        license_pic = #{licensePic,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="zsc.ordermealsys.pojo.StorePicWithBLOBs" >
    update store_pic
    set seller_name = #{sellerName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      environment_pic = #{environmentPic,jdbcType=LONGVARCHAR},
      license_pic = #{licensePic,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zsc.ordermealsys.pojo.StorePic" >
    update store_pic
    set seller_name = #{sellerName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>