<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zsc.ordermealsys.dao.StoreMapper" >
  <resultMap id="BaseResultMap" type="zsc.ordermealsys.pojo.Store" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="seller_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="store_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="grade" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="integral" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="nation" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="province" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="city" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="county" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="town" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="detail_add" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="longitude" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="latitude" jdbcType="DOUBLE" javaType="java.lang.Double" />
      <arg column="school" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, seller_name, store_name, grade, integral, desc, nation, province, city, county, 
    town, detail_add, longitude, latitude, school, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from store
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from store
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="zsc.ordermealsys.pojo.Store" useGeneratedKeys="true" keyProperty="id" >
    insert into store (seller_name, store_name, grade, 
      integral, desc, nation, 
      province, city, county, 
      town, detail_add, longitude, 
      latitude, school, create_time, 
      update_time)
    values (#{sellerName,jdbcType=VARCHAR}, #{storeName,jdbcType=VARCHAR}, #{grade,jdbcType=INTEGER}, 
      #{integral,jdbcType=INTEGER}, #{desc,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, #{county,jdbcType=VARCHAR}, 
      #{town,jdbcType=VARCHAR}, #{detailAdd,jdbcType=VARCHAR}, #{longitude,jdbcType=DOUBLE}, 
      #{latitude,jdbcType=DOUBLE}, #{school,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="zsc.ordermealsys.pojo.Store" useGeneratedKeys="true" keyProperty="id" >
    insert into store
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="sellerName != null" >
        seller_name,
      </if>
      <if test="storeName != null" >
        store_name,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="integral != null" >
        integral,
      </if>
      <if test="desc != null" >
        desc,
      </if>
      <if test="nation != null" >
        nation,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="county != null" >
        county,
      </if>
      <if test="town != null" >
        town,
      </if>
      <if test="detailAdd != null" >
        detail_add,
      </if>
      <if test="longitude != null" >
        longitude,
      </if>
      <if test="latitude != null" >
        latitude,
      </if>
      <if test="school != null" >
        school,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="sellerName != null" >
        #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=INTEGER},
      </if>
      <if test="integral != null" >
        #{integral,jdbcType=INTEGER},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        #{nation,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        #{county,jdbcType=VARCHAR},
      </if>
      <if test="town != null" >
        #{town,jdbcType=VARCHAR},
      </if>
      <if test="detailAdd != null" >
        #{detailAdd,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="school != null" >
        #{school,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="zsc.ordermealsys.pojo.Store" >
    update store
    <set >
      <if test="sellerName != null" >
        seller_name = #{sellerName,jdbcType=VARCHAR},
      </if>
      <if test="storeName != null" >
        store_name = #{storeName,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=INTEGER},
      </if>
      <if test="integral != null" >
        integral = #{integral,jdbcType=INTEGER},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="nation != null" >
        nation = #{nation,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="county != null" >
        county = #{county,jdbcType=VARCHAR},
      </if>
      <if test="town != null" >
        town = #{town,jdbcType=VARCHAR},
      </if>
      <if test="detailAdd != null" >
        detail_add = #{detailAdd,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null" >
        longitude = #{longitude,jdbcType=DOUBLE},
      </if>
      <if test="latitude != null" >
        latitude = #{latitude,jdbcType=DOUBLE},
      </if>
      <if test="school != null" >
        school = #{school,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="zsc.ordermealsys.pojo.Store" >
    update store
    set seller_name = #{sellerName,jdbcType=VARCHAR},
      store_name = #{storeName,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=INTEGER},
      integral = #{integral,jdbcType=INTEGER},
      desc = #{desc,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      county = #{county,jdbcType=VARCHAR},
      town = #{town,jdbcType=VARCHAR},
      detail_add = #{detailAdd,jdbcType=VARCHAR},
      longitude = #{longitude,jdbcType=DOUBLE},
      latitude = #{latitude,jdbcType=DOUBLE},
      school = #{school,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>